.categories {
	@apply flex items-start gap-5 overflow-y-hidden overflow-x-auto pb-8;
	scrollbar-color: #c22d1b rgba(210, 210, 210, 1);
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		@apply rounded-lg;
		height: 3px;
	}

	&::-webkit-scrollbar-track {
		@apply w-full rounded-lg;
		background: rgba(210, 210, 210, 1);
	}

	&::-webkit-scrollbar-thumb {
		@apply w-full bg-red-400 rounded-lg;
	}
}
.categoriesGroup {
	@apply min-w-full grid gap-5;
	grid-template-columns: 1fr 1fr 1.5fr;
}
.category {
	@apply animate-fade rounded-md flex flex-col items-start gap-2 justify-between;
	padding: 33px 37px 48px 35px;

	&:nth-child(4n) {
		@apply col-span-2;
	}
}
.name {
	@apply text-2lg font-medium;
}
.image {
	@apply mx-auto h-auto w-auto;
}
.bottom {
	@apply w-full flex items-end justify-between gap-5;
}
.priceBox {
	@apply flex flex-col items-start gap-2.5;
}
.priceLabel {
	@apply font-medium text-gray-500;
}
.priceFrom {
	@apply text-2lg font-medium flex items-center gap-1;
}
.arrow {
	@apply flex items-center justify-center rounded-full bg-white transition-transform;
	width: 50px;
	height: 50px;

	&:hover {
		transform: scale(1.05);
	}

	> svg {
		@apply w-8 h-8;
	}
}

@media (max-width: 1700px) {
	.name {
		@apply text-lg;
	}
}

@media (max-width: 1500px) {
	.categoriesGroup {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (max-width: 950px) {
	.name {
		@apply text-base;
	}
	.priceLabel {
		@apply text-md-plus;
	}
	.priceFrom {
		@apply text-lg;
	}
}

@media (max-width: 900px) {
	.categoriesGroup {
		grid-template-columns: 1fr;
	}
	.category:nth-child(4n) {
		@apply col-span-1;
	}
	.image {
		max-width: 200px;
	}
}
