.top {
	@apply flex gap-10 items-end justify-between;
	margin-bottom: 100px;
}
.group {
	@apply text-4lg;
	margin-bottom: 60px;
}
.heading {
	@apply w-full;
	max-width: 625px;
}
.description {
	@apply w-full text-2lg text-right;
	max-width: 750px;
}

@media (max-width: 1500px) {
	.description {
		@apply text-lg;
	}
	.group {
		@apply text-3lg;
		margin-bottom: 50px;
	}
}

@media (max-width: 1300px) {
	.top {
		margin-bottom: 70px;
	}
}

@media (max-width: 1200px) {
	.description {
		@apply text-base;
	}
	.group {
		font-size: 27px;
		margin-bottom: 50px;
	}
}

@media (max-width: 1000px) {
	.group {
		@apply text-2lg;
		margin-bottom: 30px;
	}
	.top {
		@apply flex-col items-start gap-8;
		margin-bottom: 45px;
	}
	.heading {
		max-width: 100%;
	}
	.description {
		@apply text-left;
		max-width: 100%;
	}
}

@media (max-width: 600px) {
	.group {
		@apply text-lg;
		margin-bottom: 25px;
	}
	.description {
		@apply text-md-plus;
	}
	.top {
		@apply gap-5;
		margin-bottom: 35px;
	}
}
