.section {
	margin-bottom: 183px;
}
.rubrics {
	@apply flex flex-col gap-7;
}
.rubric {
	@apply flex gap-10;

	&:first-child .categoriesGroup {
		@apply min-w-full grid gap-5;
		grid-template-columns: 1fr 1fr 1.5fr;

		.category {
			&:nth-child(4n) {
				@apply col-span-2;
			}
		}
	}

	&:first-child .categoriesGroup .category:last-child .categoryName {
		max-width: 200px;
	}

	&:last-child .categoriesGroup {
		@apply min-w-full flex items-stretch gap-5;

		.category {
			width: calc(50% - 10px);
		}
	}
}
.area {
	@apply w-full overflow-hidden;
}
.banner {
	@apply relative flex items-start gap-3;
	padding-right: 56px;

	> img {
		@apply h-full w-full;
		min-width: 360px;
	}
}
.name {
	@apply h-0 font-light text-8lg;
	transform: rotate(-90deg);
	transform-origin: right;
	position: absolute;
	right: 45px;
}
.rubric:first-child .name {
	width: 240px;
}
.rubric:last-child .name {
	width: 145px;
}
.categories {
	@apply flex items-start gap-5;
}
.category {
	@apply animate-fade rounded-md flex flex-col items-start gap-2 justify-between;
	padding: 33px 37px 48px 35px;
}
.categoryContent {
	@apply flex gap-2;

	> img {
		@apply w-full;
	}
}
.categoryName {
	@apply text-2lg font-medium mb-2;
}
.categoryImage {
	@apply mx-auto h-auto w-auto;
}
.bottom {
	@apply w-full flex items-end justify-between gap-5;
}
.priceBox {
	@apply flex flex-col items-start gap-2.5;
}
.priceLabel {
	@apply font-medium text-gray-500;
}
.priceFrom {
	@apply text-2lg font-medium flex items-center gap-1;
}
.arrow {
	@apply flex items-center justify-center rounded-full bg-white transition-transform;
	width: 50px;
	height: 50px;

	&:hover {
		transform: scale(1.05);
	}

	> svg {
		@apply w-8 h-8;
	}
}

@media (max-width: 1700px) {
	.categoryName {
		@apply text-lg;
	}
	.banner {
		> img {
			min-width: 320px;
		}
	}
	.name {
		@apply text-6lg;
	}
	.rubric:first-child .name {
		width: 220px;
	}
	.rubric:last-child .name {
		width: 130px;
	}
	.section {
		margin-bottom: 140px;
	}
}

@media (max-width: 1500px) {
	.categoriesGroup {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (max-width: 1420px) {
	.section {
		margin-bottom: 110px;
	}
	.rubric {
		@apply flex-col items-start;
	}
	.banner {
		display: block;

		> img {
			display: none;
		}
	}
	.name {
		@apply static w-auto h-auto;
		transform: none;
		transform-origin: 0;
	}
}

@media (max-width: 1200px) {
	.section {
		margin-bottom: 90px;
	}
}

@media (max-width: 1000px) {
	.name {
		@apply text-4lg;
	}
	.rubric {
		@apply gap-7;
	}
	.section {
		margin-bottom: 70px;
	}
}

@media (max-width: 950px) {
	.categoryName {
		@apply text-base;
	}
	.priceLabel {
		@apply text-md-plus;
	}
	.priceFrom {
		@apply text-lg;
	}
}

@media (max-width: 900px) {
	.categoryImage {
		max-width: 200px;
	}
	.rubric {
		@apply flex gap-10;

		&:first-child .categoriesGroup {
			grid-template-columns: 1fr;

			.category:nth-child(4n) {
				@apply col-span-1;
			}
		}

		&:last-child .categoriesGroup {
			@apply flex-wrap;

			.category {
				width: 100%;
			}
		}
	}
}

@media (max-width: 700px) {
	.name {
		@apply text-3lg;
	}
	.rubric {
		@apply gap-5;
	}
	.section {
		margin-bottom: 60px;
	}
}

@media (max-width: 400px) {
	.categoryContent {
		@apply flex-col gap-0;
	}
	.section {
		margin-bottom: 40px;
	}
}
